services:
  develop:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - UID
        - GID
        - USER
        - USERNAME
    image: develop
    hostname: develop
    container_name: develop
    restart: unless-stopped
    privileged: true
    command: /cmd.sh
    networks:
      - develop
    ports:
      - target: 22
        published: 2222
        protocol: tcp
        mode: host
    tmpfs:
      - /tmp
    volumes:
      - type: bind
        source: ${HOME}${USERPROFILE}/.aws
        target: /home/${USER}${USERNAME}/.aws
      - type: bind
        source: ${HOME}${USERPROFILE}/.azure
        target: /home/${USER}${USERNAME}/.azure
      - type: bind
        source: ${HOME}${USERPROFILE}/.claude
        target: /home/${USER}${USERNAME}/.claude
      - type: bind
        source: ${HOME}${USERPROFILE}/.codex
        target: /home/${USER}${USERNAME}/.codex
      - type: bind
        source: ${HOME}${USERPROFILE}/.config/gcloud
        target: /home/${USER}${USERNAME}/.config/gcloud
      - type: bind
        source: ${HOME}${USERPROFILE}/.gemini
        target: /home/${USER}${USERNAME}/.gemini
      - type: bind
        source: ${HOME}${USERPROFILE}/.gitconfig
        target: /home/${USER}${USERNAME}/.gitconfig
      - type: bind
        source: ${HOME}${USERPROFILE}/.ssh
        target: /home/${USER}${USERNAME}/.ssh
      - type: bind
        source: ${HOME}${USERPROFILE}/workspace
        target: /workspace
      - type: volume
        source: containerd
        target: /var/lib/containerd
      - type: volume
        source: docker
        target: /var/lib/docker
      - type: volume
        source: home
        target: /home/${USER}${USERNAME}
networks:
  default:
    name: bridge
    external: true
  develop:
    name: develop
volumes:
  docker:
    name: container_docker
  home:
    name: container_home
