services:
  develop:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - UID
        - GID
        - USER
        - USERNAME
    image: develop
    hostname: develop
    container_name: develop
    restart: unless-stopped
    privileged: true
    command: /cmd.sh
    networks:
      - develop
    ports:
      - target: 22
        published: 2222
        protocol: tcp
        mode: host
    volumes:
      - type: bind
        source: ${HOME}${USERPROFILE}/.aws
        target: /home/developer/.aws
      - type: bind
        source: ${HOME}${USERPROFILE}/.azure
        target: /home/developer/.azure
      - type: bind
        source: ${HOME}${USERPROFILE}/.claude
        target: /home/developer/.claude
      - type: bind
        source: ${HOME}${USERPROFILE}/.codex
        target: /home/developer/.codex
      - type: bind
        source: ${HOME}${USERPROFILE}/.config/gcloud
        target: /home/developer/.config/gcloud
      - type: bind
        source: ${HOME}${USERPROFILE}/.gemini
        target: /home/developer/.gemini
      - type: bind
        source: ${HOME}${USERPROFILE}/.gitconfig
        target: /home/developer/.gitconfig
      - type: bind
        source: ${HOME}${USERPROFILE}/.ssh
        target: /home/developer/.ssh
      - type: bind
        source: ${HOME}${USERPROFILE}/workspace
        target: /workspace
      - type: volume
        source: docker
        target: /var/lib/docker
      - type: volume
        source: home
        target: /home/developer
networks:
  default:
    name: bridge
    external: true
  develop:
    name: develop
volumes:
  docker:
    name: container_docker
  home:
    name: container_home
