services:
  develop:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - UID
        - GID
    image: develop
    hostname: develop
    container_name: develop
    restart: unless-stopped
    command: "/cmd.sh"
    privileged: true
    command: /cmd.sh
    networks:
      - develop
    ports:
      - target: 22
        published: 2222
        protocol: tcp
        mode: host
    volumes:
      - type: bind
        source: ${HOME:-}${USERPROFILE:-}/.ssh
        target: /home/developer/.ssh
      # - type: bind
      #   source: ${HOME:-}${USERPROFILE:-}/.aws
      #   target: /home/developer/.aws
      # - type: bind
      #   source: ${HOME:-}${USERPROFILE:-}/.config/gcloud
      #   target: /home/developer/.config/gcloud
      - type: bind
        source: ${HOME:-}${USERPROFILE:-}/.gitconfig
        target: /home/developer/.gitconfig
      - type: volume
        source: docker
        target: /var/lib/docker
      - type: volume
        source: home
        target: /home/developer
      - type: bind
        source: ${HOME:-}${USERPROFILE:-}/workspace
        target: /workspace
networks:
  default:
    name: bridge
    external: true
  develop:
    name: develop
volumes:
  docker:
    name: ssh_docker
  home:
    name: ssh_home
